{
  "env": {
    "jest/globals": true,
    "jest": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "plugin:jest/recommended"],

  "parser": "@typescript-eslint/parser",

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "jest"],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "import/extensions": "off",
    "react/react-in-jsx-scope": "off",
    "import/prefer-default-export": "off",
    "no-plusplus": "off",
    "max-len": ["error", { "code": 300 }],
    "react/no-array-index-key": "off",
    "import/no-unresolved": "off",
    "no-use-before-define": "off",
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/prop-types": "off",
    "implicit-arrow-linebreak": "off",
    "linebreak-style": ["error", "windows"],
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "comma-dangle": "off",
    "no-param-reassign": "off",
    "no-debugger": "warn",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["@/", "./src"]]
      },
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "rules": {
        "react-hooks/exhaustive-deps": "off"
      },
      "env": {
        "jest": true
      }
    }
  ]
}
