{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "airbnb"],
  "parser": "@typescript-eslint/parser",

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "import/extensions": "off",
    "react/react-in-jsx-scope": "off",
    "import/prefer-default-export": "off",
    "no-plusplus": "off",
    "max-len": ["error", { "code": 300 }],
    "react/no-array-index-key": "off",
    "import/no-unresolved": "off",
    "no-use-before-define": "off",
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/prop-types": "off",
    "implicit-arrow-linebreak": "off",
    "linebreak-style": ["error", "windows"],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": { "consistent": true, "multiline": true },
        "ObjectPattern": { "consistent": true, "multiline": true },
        "ImportDeclaration": "never",
        "ExportDeclaration": { "multiline": true, "minProperties": 3 }
      }
    ],
    "comma-dangle": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["@/", "./src"]]
      },
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "rules": {
        "react-hooks/exhaustive-deps": "off"
      }
    }
  ]
}
